* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kir.kir.lexc -text
/apertium-kir.kir.rlx -text
/apertium-kir.kir.twol -text
/apertium-kir.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
dev/editdist.py -text
eval/Makefile -text
eval/README -text
eval/evaluate-morph.py -text
eval/history.log -text
eval/ref.1000.txt -text
eval/src.1000.txt -text svneol=unset#application/octet-stream
/modes.xml -text
paper/Makefile -text
paper/TODO -text
paper/abstract.tex -text
paper/lrec2006.bst -text
paper/lrec2006.sty -text
paper/lrec2012.bst -text
paper/lrec2012.sty -text
paper/paper.bib -text
paper/paper.tex -text
paper/poster/Makefile -text
paper/poster/OUTLINE -text
paper/poster/TODO -text
paper/poster/apertium.pdf -text svneol=unset#unset
paper/poster/apertium5a.pdf -text
paper/poster/flagkg1.pdf -text
paper/poster/flagkg2.pdf -text
paper/poster/map.pdf -text
paper/poster/paper.bib -text
paper/poster/poster.pdf -text
paper/poster/poster.tex -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/HfstTester.py -text
tests/README -text
tests/abbreviations.yaml -text
tests/ky-adjectives.yaml -text
tests/ky-causpass.yaml -text
tests/ky-jnw.yaml -text
tests/ky-nouns.yaml -text
tests/ky-nounsspecial.yaml -text
tests/ky-pronouns.yaml -text
tests/ky-verbs.pairtest -text
tests/ky-verbs.yaml -text
tests/ky-verbs2.yaml -text
tests/ky-verbsaux.yaml -text
tests/ky-verbsimp.yaml -text
tests/ky-verbsopt.yaml -text
tests/run-tests.sh -text
