/*.bin
/*.gz
/*.m4
/*.pc
/*.hfst
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/.deps
/config.in
/config
/*.zhfst
/.DS_Store
/*-*.prob
/test/*-output.txt
